@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bar-width: 30px;
  --bar-height: 5px;
  --hamburger-gap: 4px;
  --hamburger-margin: 7px;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
  --translate-before-y: calc(var(--bar-height) / -2);
  --translate-after-y: calc(var(--bar-height) / 2);
  --aside-pt: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
  --top-margin: 90px;
  --lg-top-margin: 90px;
  --sm-content-width: 616px;
}
.progress-ring__circle {
  stroke-dasharray: 250, 250;
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

@layer base {
  .remove_arrows {
    @apply [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none;
  }
}
